<!--<p>main-search-view works!</p>-->
<!--<div style="background-color: yellow;">-->
<!--  <p>search-panel works!</p>-->
<!--</div>-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div style="width: 50%; min-width: 800px; margin: 33vh auto;" >
  <i class="fa fa-wikipedia-w d-block mx-auto" style="font-size:4rem; text-align: center; margin-bottom: 15px"></i>
  <div class="d-flex d-row">
    <span style="width: 15%;">
    </span>
    <app-search-panel style="width: 85%;"></app-search-panel>
  </div>
</div>
<!--<ng-template ngbPanelContent #rtCourseInstructor let-r="result" let-t="term">-->
<!--  <ngb-highlight [result]="r.academicDegree + ' ' + r.firstName  + ' ' + r.surname" [term]="t"></ngb-highlight>-->
<!--</ng-template>-->
