<!--<p>search-header works!</p>-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="d-flex d-row" style="width: 100%; margin-top: 2vh; margin-bottom: 2vh">
    <span class="d-flex mx-auto" style="width: 8%;">
      <button class="btn btn-light" (click)="onLogoClicked()" title="Go to Main Page" style="border-radius: 1rem; background-color: transparent; padding: 5px; font-size: large;"><i class="fa fa-wikipedia-w"></i></button>
    </span>
    <app-search-panel style="width: 92%;"></app-search-panel>
</div>
<hr style="margin-top:8px; margin-bottom: 8px;">
